* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
#root {
    margin: 2rem auto;
}

.add-todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.add-todo input {
    border: 1px solid black;
    border-radius: 7px;
    line-height: 2rem;
    width: 250px;
    min-width: 150px;
}

.add-todo button {
    padding: .5rem .8rem;
    cursor: pointer;
}

.testo {
    flex: 1 1 auto;
}

.content-todo {
    margin: 2rem auto;
    max-width: 600px;
    background-color: #f5f7f7;
    border-radius: 20px;
}

ul {
    list-style: none;
    padding: 1rem;
}

li {
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}

li:last-child {
     border: none;
}

li:hover,
.closed button {
    background-color: #fff;
}

.done-active {
    text-decoration: line-through;
}

.closed button {
    border: 0;
    background-color: none;
    cursor: pointer;
}